---
const pageTitle = "Información sobre mí";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Escritor técnico",
  hobbies: ["fotografia", "observación de aves", "peñarol"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Redacción de documentos"];
const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style>

            body {
                width: 1000px;
                margin: 0 auto;
            }
            nav {
                display: flex;
                justify-content: center;
                font-size: 1.2rem
            }

            ul {
                display: flex;
            }

            a {
                display: block;
                padding: .5rem;
            }

            a:hover {
                background-color: rgb(220, 220, 220);
                border-radius: 5px;
                transition: background-color .3s ease-in;
            }

            h1 {
                text-align: center;
                font-size: 3rem;
            }

            h2 {
                text-align: center;
                font-size: 1.2rem;
                padding: 1rem;
                background-color: salmon;
            }
        </style>
	</head>
	<body>

        <nav>
            <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Sobre mi</a></li>
            <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        
		<h1>{pageTitle}</h1>
        <h2>Soy Miguel Pitarch, desde pequeño que me gusta la tecnología, he estado trabajando en el mundo de la programación desde hace unos años, y desde entonces he estado aprendiendo y mejorando mi habilidad en la programación, y en la tecnología en general.</h2>

        <p>He aquí algunos datos sobre mí:</p>
            <ul>
            <li>Me llamo {identity.firstName}.</li>
            <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
            }
            </ul>
            <p>Mis habilidades son:</p>
            <ul>
            {skills.map((skill) => <li>{skill}</li>)}
            </ul>

            {happy && <p>¡Estoy feliz de aprender Astro!</p>}

{finished && <p>¡He terminado este tutorial!</p>}

{goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
	</body>
</html>
